/* imports a google font family */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

/* animation for fading elements in */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* animation for fading in and out error text */
@keyframes errorFade {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* spin animation on useless icon hover */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* setting base style properties */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: 	#36393e;
}

.wrapper {
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
}

.fadeable {
    opacity: 0;
}

.fade-in {
    opacity: 0; /* initial opacity */
    animation: fadeIn 0.5s ease-in-out forwards; /* defining the transition */
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
}

.error-message {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 15px;
    margin-top: 5px;
    color: rgb(255, 89, 67);
    opacity: 0; /* initially invisible */
    visibility: hidden; /* initially hide element */
    transition: opacity 0.75s ease-in-out; /* defining the transition */
}

.error-message-display {
    /* opacity: 1; */
    visibility: visible;
    animation: errorFade 3s ease-in-out;
}

.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

#input-box-username {
    margin: 15px 0 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: #ffffffc4;
}

.input-box i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;    
}

/* applies specifically to username icon */
.input-box .bx {
    right: 20px;
}

.input-box .bx:hover {
    top: 30%;
    animation: spin 3s ease infinite;
}

.input-box .fa-eye {
    cursor: pointer;
    position: absolute;
    right: 19px;
    top: 50%;
}

/* when normal eye is hovered */
.input-box .fa-eye:hover {
    color: rgb(160, 181, 255);
}

.input-box .fa-eye-slash {
    cursor: pointer;
    right: 17.8px;
}

/* when eye with slash through it is hovered */
.input-box .fa-eye-slash:hover {
    color: rgb(160, 181, 255);
}

/* display lock on register page */
.input-box .fa-lock {
    right: 23px;
    font-size: 18px;
}

.input-box .fa-lock:hover {
    top: 32%;
    animation: spin 3s ease infinite;
}

.wrapper .btn {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    margin-top: 40px;
}

.wrapper .register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p {
    color: #ffffffc4;
}

.register-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    color: rgb(160, 181, 255);
    text-decoration: underline;
}

#backgroundCanvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* place canvas behind other content */
}

/* input element focused */
input:focus {
    border-color: rgba( 114, 137, 218, 1);
}

/* input element hovered */
input:hover {
    background-color: rgba( 114, 137, 218, 0.2);
}


