/* landing text stretch animation */
@keyframes stretchAnimation {
  0% {
    letter-spacing: .1em; /* initial stretch length */
  }
  100% {
    /* letter-spacing: .3em; peak stretch length */
    letter-spacing: 0.5vw;
  }
}

/* 360 degree rotate animation */
@keyframes rotate {
  0% {
    transform: rotate(0deg); /* Start position */
  }
  100% {
    transform: rotate(360deg); /* End position */
  }
}

/* default styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  /* background-color: rgb(0, 10, 70); */
}

/* scrollbar styling, need to fix */
::-webkit-scrollbar {
  width: 10px;
  height: 0.5vh;
  /* background-color: rgb(0, 10, 70); */
  background: linear-gradient(rgb(28, 115, 228) 0%, rgb(0, 10, 70) 70%);
}

::-webkit-scrollbar-thumb {
  background-color: #c0c0c0;
  border-radius: 8px;
} 

::-webkit-scrollbar-thumb:hover {
  background-color: #e6e6e6;
}

::-webkit-scrollbar-corner {
  background-color: rgb(0, 10, 70);
  /* background: linear-gradient(rgb(28, 115, 228) 0%, rgb(0, 10, 70) 70%); */
}

/* for background particle animation */
#canvas1 {
  background: linear-gradient(rgb(28, 115, 228) 0%, rgb(0, 10, 70) 70%);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

#gamer {
  background-color: red;
}

/* defining flex elements */
.container {
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
}

.topbar {
  z-index: 3;
  position: relative;
  justify-content: right;
}

.button {
  padding-right: 10px;
  padding-top: 30px;
}

.githubicon {
  width: 38px;
  margin-top: 30px;
  margin-right: 30px;
  background-color: none;
}

.githubicon:hover {
  animation: rotate 2s ease-in-out infinite;
}

.particleicon {
  width: 38px;
  margin-top: 30px;
  margin-right: 15px;
}

.particleicon:hover {
  animation: rotate 2s ease-in-out infinite;
}

.landingtxt {
  /* width: 100%; */
  /* padding-top: 100px;
  padding-bottom: 100px; */
  padding-top: 10vh;
  justify-content: center;
  align-items: center;
}

header {
  color: white;
  position: relative;
  z-index: 3;
  /* font-size: 2em; */
  font-size: 1.8em;
  letter-spacing: .1em;
  font-family: 'Lato', sans-serif;
  text-shadow: 1px 3px 13px #000;
}
/* 
@media (max-width: 500px) {
  header {
    font-size: 4vw;
  }
} */

header:hover {
  animation: stretchAnimation 1s ease-in-out infinite alternate;
}

.newdiv {
  padding-top: 10px;
  color: black;
  z-index: 2;
}

p {
  color: rgb(255, 255, 255);
  /* position: absolute; */
  position: relative;
  z-index: 3;
}

/* .music {
  position: relative;
  background-color: #000000;
  border-radius: 7px;
  height: 1vw;
  width: 1vw;
} */

.music {
  position: relative;
  background-color: #424549;
  border-radius: 7px;
  /* height: 200px; */
  height: 55vh;
  width: 80vw;
  margin-top: 10vh;
  margin-bottom: 5vh;
  /* opacity: 0.8; */
  z-index: 3;
}

/* @media (max-width: 900px) {
  .music {
    padding-left: 1vw;
    padding-right: 1vw;
    background-color: rgb(50, 115, 172);
  }
} */

ul {
  display: inline;
  position: relative;
}

li::marker {
  color: white;
}

form {
  position: relative;
  z-index: 4;
}