#logoutButton {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 8px 20px;
  width: 55px;
  background-color: rgba(114, 137, 218, 1);
  text-decoration: none;
  color: transparent;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  cursor: pointer;
  transition: width 0.4s ease-in-out, opacity 0.2s ease-in-out, color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  overflow: hidden;
  white-space: nowrap; /* Prevent text from wrapping */
  text-transform: none;
  z-index: 2;
}

/* applied on button hover */
#logoutButton:hover {
  width: 114px; /* Expand button width on hover */
  background-color: rgb(76, 100, 189);
  color: #fff; /* Show text on hover */
}

/* applied to icon in button */
#logoutButton i{
  color: #fff;
  opacity: 1;
}

.topbar {
  display: flex; /* helps display children side by side */
  align-items: center; /* vertically center items in topbar */
  justify-content: center;
  margin-top: 16px;
}

.add-contact-container {
  padding: 10px 24px;
  background-color: rgba(114, 137, 218, 1);
  color: #fff;
  border: none;
  border-radius: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  cursor: pointer;
  font-size: 16px;
  width: 300px;
  margin-right: 5vw;
  margin-left: 20vw;
  transition: background-color 0.2s ease-in-out;
}

/* applied on button hover */
.add-contact-container:hover {
  background-color: rgb(76, 100, 189);
  color: #fff; /* Show text on hover */
}

.add-contact i {
  padding-right: 6px;
}

#searchForm {
  display: flex;
  align-items: center;
  position: relative;
  margin-right: 20vw;
  }
  
  #searchInput {
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, .2);
  backdrop-filter: blur(15px);
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  color: #fff;
  border-radius: 40px;
  height: 48px;
  width: 300px;
  /* width: 10vw; */
  transition: width 0.75s ease-in-out;
  font-size: 16px;
  padding-left: 40px;
  }
  
  /* styling placeholder text */
  #searchInput::placeholder {
  color: #ffffffc4;
  transition: transform 0.3s ease-in-out;
  }
  
  /* style the search icon */
  #searchForm i.fa-magnifying-glass {
  position: absolute;
  left: 18px;
  padding-right: 100px;
  top: 17px;
  font-size: 14px;
  color: #ffffffc4;
  pointer-events: none;
  }
  
  #searchInput:hover {
  background-color: rgba( 114, 137, 218, 0.2);
  }
  
  #searchInput:focus::placeholder {
  transform: translateY(-30px);
  }
  
  /* input element focused */
  #searchInput:focus {
  border-color: rgba( 114, 137, 218, 1);
  width: 26vw;
  }

/* CSS for pagination */
#paginationControls {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  color: #fff;
  margin-bottom: 15px;
  }
  
.page-link {
cursor: pointer;
font-size: 18px;
background: transparent;
border: 2px solid rgba(255, 255, 255, .2);
backdrop-filter: blur(15px);
width: 40px;
height: 60px;
text-align: center;
display: flex;
justify-content: center;
align-items: center;
font-weight: bold;
}

.current-page {
background-color: rgba(114, 137, 218, 1);
border-color: rgba(114, 137, 218, 1);
}

.maincontainer {
  width: 100%;
}

#contactTable th, #contactTable td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  }
    
#contactTable th {
text-decoration: underline;
}

/* name and email fields */
#contactTable th:nth-child(1), #contactTable td:nth-child(1),
#contactTable th:nth-child(2), #contactTable td:nth-child(2) {
min-width: 20vw;
}

/* phone number and date created fields */
#contactTable th:nth-child(3), #contactTable td:nth-child(3),
#contactTable th:nth-child(4), #contactTable td:nth-child(4) {
min-width: 13vw;
}

/* less space for edit and delete columns */
#contactTable th:nth-child(5), #contactTable td:nth-child(5), /* edit column */
#contactTable th:nth-child(6), #contactTable td:nth-child(6) { /* delete column */
min-width: 5vw;
}

.tableContainer {
border: 2px solid rgba(255, 255, 255, .2);
backdrop-filter: blur(15px);
border-radius: 10px;
border-radius: 25px;
box-shadow: 0 0 10px rgba(0, 0, 0, .2);
padding: 30px;
margin-top: 3vh;
margin-bottom: 3vh;
font-size: 100px;
margin-left: 10vw;
margin-right: 10vw;
align-self: center;
min-height: 575px; /* how much space the table takes up vertically */
overflow-x: auto;
}

#contactTable {
color: #fff;
border-collapse: collapse;
font-size: 18px;
table-layout: auto;
}



#contactTable th, #contactTable td {
padding: 10px;
border-right: hidden;
border-left: hidden;
}

#contactTable th {
padding-bottom: 30px;
}

.edit-button-styling, .delete-contact-styling {
display: inline-block;
width: 55px;
height: 35px;
border: none;
border-radius: 50px;
background-color: rgb(114, 137, 218, 0.7);
color: #fff;
line-height: 50px; /* vertically center text within the button */
cursor: pointer;
transition: background-color 0.2s ease-in-out, color 0.3s ease-in-out, box-shadow 0.2s ease-in-out;
font-size: 16px;
}

/* Applied on button hover */
.delete-contact-styling:hover {
background-color: rgb(255, 96, 96);
color: #36393e;
}

.edit-button-styling:hover {
background-color: rgb(255, 234, 112);
color: #36393e;
}

#contactTable tr {
padding: 50px;
border-collapse: separate;
border-spacing: 0 15px;
border-top: 10px;
border-radius: 100px;
}

/* Apply styling to rows in tbody when hovered */
#contactTable tbody tr:hover {
background-color: rgba(114, 137, 218, 0.3);
box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

@keyframes bounce {
0%, 100% {
  transform: translateY(0);
} 
50% {
  transform: translateY(-5px);
}
}

/* when a row is clicked */
#contactTable tbody tr:active {
background-color: rgba(144, 189, 241, 0.3);
}

/* delete contact button styling on hover */
.delete-contact-styling:hover {
background-color: rgb(255, 96, 96);
border-style: none;
color: #36393e;
box-shadow: 0 0 5px rgb(255, 96, 96),
            0 0 5px rgb(255, 96, 96),
            0 0 10px rgb(255, 96, 96),
            0 0 10px rgb(255, 96, 96);
}

/* delete contact button styling on hover */
.delete-contact-styling:active {
background-color: rgb(255, 24, 24);
box-shadow: 0 0 5px rgb(255, 24, 24),
            0 0 5px rgb(255, 24, 24),
            0 0 10px rgb(255, 24, 24),
            0 0 10px rgb(255, 24, 24);
}


/* edit contact button styling on hover */
.edit-button-styling:hover {
background-color: rgb(255, 234, 112);
border-style: none;
color: #36393e;
box-shadow: 0 0 5px rgb(255, 234, 112),
            0 0 5px rgb(255, 234, 112),
            0 0 10px rgb(255, 234, 112),
            0 0 10px rgb(255, 234, 112);
}

/* edit contact button styling on hover */
.edit-button-styling:active {
background-color: rgb(236, 206, 33);
box-shadow: 0 0 5px rgb(236, 206, 33),
            0 0 5px rgb(236, 206, 33),
            0 0 10px rgb(236, 206, 33),
            0 0 10px rgb(236, 206, 33);
}

/* input element focused */
input:focus {
border-color: rgba( 114, 137, 218, 1);
}

.disabled {
color: rgb(128, 128, 128);
}

/* Media query for smaller screens */
@media (max-width: 1050px) {
  .add-contact-container {
    width: 28vw;
    min-width: 180px;
  }

  #searchInput {
    width: 102px;
    }
}